<h1><%= @user.username %>'s Teams</h1>
<br>

  <% @teams.each do |team| %>
    <h3><a href='/teams/<%= team.id %>'><%= team.name %></a></h3>
  <% end %>

<br><br><br><br><br>

<ul>
  <li><a href="/teams"> View Other Pokémon Teams </a></li>
  <li><a href="/users/<%= current_user.id %>"> View Your Teams </a></li>
  <li><a href="/teams/new"> Create a Team </a></li>
  <li><a href="/users"> Back to Homepage </a></li>
</ul>
